body {
  height: 100%;
  background-color: beige;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  color: #000;
}
img {
  width: 20em;
  border: 25px solid white;
}

#main {
  width: 100vw;
}

.center {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh; /* 화면의 전체 높이를 사용 */
}

.content {
  padding: 1em;
}

.menu {
  font-family: "Ms Madi", cursive;
  height: 100%;
  width: 100%;
  top: 30%;
  left: 43%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav {
  font-family: "Ms Madi", cursive;
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.name {
  font-size: 70px;
  font-weight: bold;
  color: black;
}
.profile {
  text-align: center;
}
.center a {
  padding: 8px;
  text-decoration: none;
  font-size: 35px;
  color: #818181;
  transition: 0.3s;
}
.center a:hover {
  color: black;
}
.sidenav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: black;
}

.content {
  display: flex;
  height: 100%;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 30px;
}
.photo {
  margin: auto;
}

.experience {
  padding-left: 40px;
  font-size: 45px;
  font-weight: bold;
  position: fixed;
  color: black;
  text-decoration: underline;
  font-family: "Climate Crisis", cursive;
}
.goBack {
  font-size: 35px;
  margin-top: 65px;
}
.order {
  padding-left: 40px;
  font-size: 30px;
  margin-top: 200px;
}
